/* FONTS */
@font-face {
 font-family: 'Alright Sans';
 src: url('fonts/AlrightSans-Medium.otf');
 font-weight: 400;
}
@font-face {
 font-family: 'Alright Sans';
 src: url('fonts/AlrightSans-Bold.otf');
 font-weight: 600;
}
@font-face {
 font-family: 'Open Sans';
 src: url('fonts/OpenSans-Light.ttf');
 font-weight: 300;
}
@font-face {
 font-family: 'Open Sans';
 src: url('fonts/OpenSans-Regular.ttf');
 font-weight: 500;
}
@font-face {
 font-family: 'Open Sans';
 src: url('fonts/OpenSans-Bold.ttf');
 font-weight: 700;
}

html, body {
  margin: 0px;
  padding: 0px;
}
body {
  color: #333;
  max-width: 2000px;
  margin: auto;
  background-color: #ddd;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Alright Sans';
}
h1 {
  font-size: 64px;
  font-weight: 500;
  color: #fff;
}
h2 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px;
}
p, a, label, span,
input[type="text"],
input[type="email"] {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
}
p, a {
  line-height: 1.5;
  margin: 10px 0px;
}
form {
  max-width: 500px;
  margin: auto;
}
label {
  display: block;
}
input[type="text"],
input[type="email"] {
  border-radius: 3px;
  border: none;
  padding: 7px 10px;
  width: 100%;
  outline: none;
  margin: 1px 0px 15px;
  box-shadow: 0px 1px 2px 1px #ccc;
  box-sizing: border-box;
}
input[type="submit"],
input[type="button"] {
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  vertical-align: top;
  outline: none;
  padding: 8px 12px;
  margin: 0px auto 10px;
  background-color: #ff5152;
  color: #fff;
  display: block;
  /*box-shadow: 0px 1px 2px 1px #ccc;*/
}
input[type="submit"]:hover,
input[type="button"]:hover {
  cursor: pointer;
}
input[type="submit"]:active,
input[type="button"]:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
input[type="submit"].dark,
input[type="button"].dark {
  color: #fff;
  background-color: #111;
}
input[type="submit"].dark:hover,
input[type="submit"].dark:focus,
input[type="submit"].dark:active,
input[type="submit"].dark:active:focus,
input[type="submit"].dark:active:hover,
input[type="button"].dark:hover,
input[type="button"].dark:focus,
input[type="button"].dark:active,
input[type="button"].dark:active:focus,
input[type="button"].dark:active:hover {
  color: #ddd;
}

/* COMPONENTS */
section {
  padding: 70px 0;
  box-shadow: 0px 20px 25px -25px #333 inset;
  box-sizing: border-box;
}
.container {
  margin: 0px;
  padding: 0px 30px;
  box-sizing: border-box;
}
.bg-white {
  background-color: #fff;
  color: #333;
}
.bg-light {
  background-color: #f5f5f5;
  color: #333;
}
.bg-dark {
  background-color: #111;
  color: #fff;
}
.shadow-box {
  box-shadow: 0px 1px 5px 0px #bbb;
  background-color: #feffff;
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 20px;
  border: none;
  position: relative;
  box-sizing: border-box;
}
br.desktop {
  display: block;
}
br.mobile {
  display: none;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  background-color: #fff;
  overflow: hidden;
  z-index: 99;
  box-shadow: 0px 0px 20px -3px #555;
  padding: 0px 10px;
  box-sizing: border-box;
}
nav #logo {
  float: left;
  height: 100%;
  margin-left: 10px;
}
nav #logo > img {
  float: left;
  height: 40px;
  width: 40px;
  margin: 15px 0px;
}
nav #logo > p {
  float: left;
  font: 500 22px 'Alright Sans';
  margin: 23px 5px;
}
nav #expand {
  float: right;
  height: 100%;
  margin-right: 10px;
  display: none;
}
nav #expand > svg {
  font-size: 24px;
  height: 100%;
  vertical-align: middle;
}
nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
}
nav ul > li {
  display: inline-block;
  height: 100%;
  margin-right: 10px;
}
nav ul > li > a {
  line-height: 70px;
  height: 100%;
  display: block;
  margin: 0px;
  color: #333;
  text-decoration: none;
  font-family: 'Alright Sans';
  font-weight: 500;
}
nav ul > li > a:hover {
  color: #ff5152;
}


/* HEADER */
header {
  background: linear-gradient(rgba(255,81,82,0.90), rgba(255,81,82,0.80)), url("img/header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding: 120px 0px;
  margin-top: 70px;
}
.header-content > p {
  font-size: 18px;
  color: #fff;
  opacity: 0.7;
  font-family: 'Alright Sans';
}
.rw-sentence {
  margin: 0;
  text-align: center;
  display: inline-block;
}
.rw-sentence span,
.rw-sentence div {
  font-size: inherit;
  color: inherit;
}
.rw-words {
  display: inline;
  text-indent: 10px;
  text-align: left;
  margin: -1%;
  padding: 0;
}
.rw-words span {
  position: absolute;
  text-align: left;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
  -webkit-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
  -webkit-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
  -webkit-animation-delay: 9s; 
  -ms-animation-delay: 9s; 
  animation-delay: 9s; 
}
.rw-words span:nth-child(5) { 
  -webkit-animation-delay: 12s; 
  -ms-animation-delay: 12s; 
  animation-delay: 12s; 
}
.rw-words span:nth-child(6) { 
  -webkit-animation-delay: 15s; 
  -ms-animation-delay: 15s; 
  animation-delay: 15s; 
}
/*.rw-words span:nth-child(7) { 
  -webkit-animation-delay: 18s; 
  -ms-animation-delay: 18s; 
  animation-delay: 18s; 
}
.rw-words span:nth-child(8) { 
  -webkit-animation-delay: 21s; 
  -ms-animation-delay: 21s; 
  animation-delay: 21s; 
}
.rw-words span:nth-child(9) { 
  -webkit-animation-delay: 24s; 
  -ms-animation-delay: 24s; 
  animation-delay: 24s; 
}*/
.rw-words > .hidden {
  opacity: 0;
  display: inline;
  margin: 0;
}
.btn-signup {
  width: 150px;
  background-color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  margin: 0px 2px 10px;
  vertical-align: top;
  text-decoration: none;
  box-shadow: 0px 0px 10px -3px #333;
}
.btn-signup:hover {
  background-color: #f5f5f5;
}
.btn-signup:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn-signup > img {
  height: 50px;
}
.btn-signup > hr {
  height: 1px;
  color: #333;
  background-color: #333;
  width: 100%;
  margin: 8px 0px;
  border: none;
}
.btn-signup > p {
  color: #333;
  font-size: 14px;
  margin: 0px;
  line-height: 1.3em;
  font-family: 'Alright Sans';
}

.form-control-div {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}
.form-control {
  width: 100%;
}
.btn-dark {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark:active:focus,
.btn-dark:active:hover  {
  color: #ff5152;
  background-color: #fff;
  border-color: #fff;
}


.navbar-default {
  background-color: #feffff;
  border-color: none;
}
.navbar-default .navbar-brand,
.navbar-default .nav > li > a {
  color: #333;
  height: 50px;
}
.navbar-default .navbar-header .navbar-brand {
  padding: 0px;
  margin: 15px 0px;
  height: 40px;
}
.navbar-default .navbar-header .navbar-brand > * {
  float: left;
}
.navbar-default .navbar-header .navbar-brand > p {
  line-height: 40px;
  font-size: 20px;
  margin: 0;
  font-family: 'Alright Sans';
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #ff5152;
}
.navbar-default .navbar-header .navbar-brand img {
  max-height: 40px;
  margin: 0px 5px;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 20px;
  color: #333;
  margin: 13px;
  padding: 2px 10px;
  line-height: 40px;
  border: none;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #333;
  cursor: pointer;
  margin: 15px 5px;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  font-family: 'Alright Sans';
  height: 40px;
  line-height: 38px;
  padding: 2px 0px 0px;
}
.navbar-default .nav > li > a.btn-primary,
.navbar-default .nav > li > a.btn-primary:focus,
.navbar-default .nav > li > a.btn-primary:hover,
.navbar-default .nav > li > a.btn-primary:focus:hover {
  padding: 2px 20px 0px;
  color: #fff;
  height: 40px;
  background-color: #ff5152;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
.navbar-right {
  margin: 0px;
}

.divider {
  display: block;
  color: #fff;
  padding: 5px 0px;
}


/* FEATURES */
#features .container {
  max-width: 1200px;
  margin: auto;
}
#features h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
.feature-container {
  max-width: 800px;
  margin: auto;
  padding: 0px;
}
.feature-container > .shadow-box {
  display: table;
  width: auto;
  width: 90%;
}
.feature-container > .shadow-box.left {
  margin-right: 10%;
}
.feature-container > .shadow-box.right {
  margin-left: 10%;
}
.feature-container svg {
  padding: 20px;
  margin: 5px 15px 5px 5px;
  color: #fff;
  background-color: #eee;
  background-color: rgba(255,81,82,0.9);
  border-radius: 50%;
  font-size: 25px;
  box-shadow: 0px 1px 5px 0px #bbb;
}
.feature-container p {
  margin: 0px;
  font-size: 17px;
}
.feature-icon {
  display: table-cell;
  width: 50px;
  vertical-align: middle;
  text-align: center;
}


/* TABS */
#tabs {
  text-align: center;
  /*max-width: 1000px;
  margin: auto;*/
}
#tabs ul {
  border-bottom: solid 1px #ddd;
  display: block;
  list-style: none;
  padding: 10px;
  margin: 0px 0px 20px;
}
#tabs li {
  display: inline-block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#tabs svg {
  font-size: 25px;
  color: inherit;
  margin-bottom: 5px;
}
#tabs a {
  color: inherit;
  padding: 10px 15px;
  vertical-align: top;
  font-size: 20px;
  font-family: 'Alright Sans';
}
#tabs li.active, #tabs li:hover {
  color: #ff5152;
  cursor: pointer;
}
#tabs p {
  font-weight: 200;
  font-size: 20px;
  padding: 25px 0px 40px;
}
.tab-explanation {
  display: none;
}


/* TEAM */
#team .container {
  max-width: 1500px;
  margin: auto;
}
.teammate {
  text-align: center;
  width: 33%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.teammate h4 svg {
  font-size: 10px;
  color: #bbb;
}
.teammate h4 svg:hover {
  color: #ff5152;
  opacity: 0.8;
}
.teammate .prof-pic {
  display: block;
  border-radius: 50%;
  box-shadow: -2px 2px 10px -3px #666;
  max-width: 150px;
  max-height: 150px;
  margin: auto;
  position: relative;
  text-align: left;
  background-color: #fff;
}
.teammate .prof-pic:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.teammate .prof-pic > img {
  position: absolute;
  border-radius: 50%;
  top: 4%;
  left: 4%;
  width: 92%;
  height: 92%;
}
.teammate.padding {
  width: 16%;
}

/* EMAIL */
#email p {
  text-align: center;
  margin: 0px auto 30px;
  max-width: 700px;
}

/* FOOTER */
footer {
  padding: 30px 0px;
  box-shadow: 0px 20px 25px -25px #333 inset;
}
footer p {
  text-align: center;
  font-family: 'Alright Sans';
}

/* CONFIRMATION */
#confirmation {
  text-align: center;
}
#confirmation h1 {
  font-weight: 700;
  font-size: 64px;
}
#confirmation p {
  font-size: 22px
}
#confirmation .glyphicon {
  margin: 20px;
  font-size: 86px;
  color: #7ac143;
}

/* TEXT SELECTION */
::-moz-selection {
  color: white;
  text-shadow: none;
  background: rgba(255,81,82,0.8);
}
::selection {
  color: white;
  text-shadow: none;
  background: rgba(255,81,82,0.8);
}

/* MOBILE */
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
    margin: 10px 0px 30px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }

  /* COMPONENTS */
  .container {
    padding: 0px 10px;
  }

  /* NAVBAR */
  nav #expand {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 70px;
    right: -120px;
    height: 100vh;
    background-color: #fff;
    width: 120px;
    border-left: 1px solid #bbb; 
  }
  nav ul > li {
    display: block;
    height: 50px;
    margin-left: 12px;
  }

  /* HEADER */
  .rw-words {
    text-indent: 0px;
  }
  .rw-words span {
    text-align: center;
    width: 100%;
    left: 0px;
  }
  br.desktop {
    display: none;
  }
  br.mobile {
    display: block;
  }

  /* FEATURES */
  .feature-icon {
    width: 30px;
    vertical-align: top;
  }
  .feature-container svg {
    padding: 15px;
    margin: 5px 10px 5px 0px;
    font-size: 18px;
  }

  /* TEAM */
  .teammate {
    width: 100%;
  }
  .teammate .prof-pic {
    max-width: 120px;
    max-height: 120px;
  }
}

/* ANIMATIONS */
@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
  4% { opacity: 1; -webkit-transform: translateY(0px);}
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  12% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
  4% { opacity: 1; -ms-transform: translateY(0px);}
  10% { opacity: 1; -ms-transform: translateY(0px); }
  12% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  4% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  10% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  12% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}